@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Marko+One&family=Montez&display=swap");
/*utilities*/
/*todo el sitio*/
/** estilos generales **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #07040b;
  font-family: "Marko One"; }

h1 {
  font-size: 35px;
  font-family: "Montez";
  color: #FEECE2;
  font-style: normal; }

h4 {
  display: inline;
  font-size: 20px; }

a {
  font-size: 16px;
  text-decoration: none;
  font-family: "Marko One";
  color: #FEECE2; }

p {
  font-size: 14px; }

li {
  font-size: 16px;
  padding: 10px;
  list-style: none; }

/** estilos del header **/
header {
  background-image: linear-gradient(to left, black, #07040b, #36192f, #511a38, #6c3156);
  width: 100%; }
  header nav .encabezado {
    color: #FEECE2;
    padding: 35px;
    text-align: center;
    display: flex;
    justify-content: space-evenly; }
    header nav .encabezado ul {
      display: flex;
      flex-wrap: nowrap;
      padding: 0; }
      header nav .encabezado ul li:hover {
        color: #36192f; }
      header nav .encabezado ul li a {
        color: #FEECE2; }
        header nav .encabezado ul li a:hover {
          color: #36192f; }

/** estilos del footer **/
footer {
  background-color: #07040b;
  color: #FEECE2;
  padding: 15px; }
  footer .redesSociales h4 {
    margin: 0px 20px; }
  footer .redesSociales a {
    margin: 0px 20px; }

/*secciones*/
/*index*/
.home {
  width: 100%;
  background-image: linear-gradient(to right, black, #07040b, #36192f, #511a38, #6c3156); }
  .home .fondo img {
    width: 100%; }
  .home .fondo h1 {
    color: #982176;
    position: relative;
    bottom: 300px;
    left: 100px;
    font-size: 70px;
    width: 450px; }
  .home .fondo p {
    color: #c02995;
    position: relative;
    bottom: 300px;
    left: 100px;
    font-size: 25px;
    font-family: "Montez"; }
  .home .presentacion {
    display: flex;
    align-content: center;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center; }
    .home .presentacion img {
      width: 30%;
      margin-left: 15px; }
    .home .presentacion .bio {
      width: 50%;
      display: flex;
      flex-direction: column;
      padding: 10px 20px; }
      .home .presentacion .bio h2 {
        padding: 5px 5px 15px 5px;
        color: #07040b;
        font-size: 30px;
        text-align: center; }
      .home .presentacion .bio p {
        text-align: justify;
        color: #f5b3ef94;
        margin: 5px 15px; }
  .home .galeria {
    background-color: linear-gradient(to right, black, #07040b, #36192f, #511a38, #6c3156);
    padding: 20px;
    width: 100%;
    align-content: center;
    justify-content: center;
    border-top: 6px dotted #982176; }
    .home .galeria img {
      width: 30%;
      margin: 5px; }
    .home .galeria h2 {
      text-align: center;
      color: #f5b3ef94;
      font-size: 40px; }

/**quien soy**/
.seccionUno {
  background-image: linear-gradient(to left, black, #07040b, #36192f, #511a38, #6c3156);
  display: flex;
  width: 100%; }
  .seccionUno .descripcion {
    width: 35%;
    text-align: right;
    margin: 10px; }
    .seccionUno .descripcion h2 {
      font-family: "Marko One";
      color: #c02995;
      font-size: 30px;
      text-align: left;
      padding: 5px; }
    .seccionUno .descripcion ul {
      color: #f5b3ef94;
      padding: 15px;
      text-align: left; }
      .seccionUno .descripcion ul li {
        padding: 8px;
        font-size: 14px;
        list-style-type: disc; }
  .seccionUno .trabajos {
    width: 65%;
    text-align: right;
    padding-right: 30px;
    padding-bottom: 15px; }
    .seccionUno .trabajos h2 {
      font-family: "Marko One";
      color: #c02995;
      font-size: 30px;
      text-align: left;
      padding: 5px; }
    .seccionUno .trabajos img {
      width: 30%;
      height: 250px; }
      .seccionUno .trabajos img:hover {
        transform: scale(2, 2); }

.seccionDos {
  width: 100%; }
  .seccionDos h2 {
    text-align: center;
    margin: 20px;
    font-family: "Marko One";
    color: #872341;
    font-size: 30px; }
  .seccionDos .certificaciones {
    text-align: center;
    display: flex;
    justify-content: space-evenly; }
    .seccionDos .certificaciones .maquillajeSocial {
      padding: 40px 15px;
      width: 15%;
      background-color: #98217688;
      border-radius: 10px;
      margin-bottom: 15px;
      color: #982176; }
    .seccionDos .certificaciones .maquillajeArtistico {
      padding: 40px 15px;
      width: 15%;
      border-radius: 10px;
      margin-bottom: 15px;
      color: #872341;
      background-color: #87234188; }
    .seccionDos .certificaciones .maquillajeEditorial {
      padding: 40px 15px;
      width: 15%;
      border-radius: 10px;
      margin-bottom: 15px;
      color: #B42B51;
      background-color: #b42b5288; }
    .seccionDos .certificaciones .peinado {
      padding: 40px 15px;
      width: 15%;
      border-radius: 10px;
      margin-bottom: 15px;
      color: #3C0753;
      background-color: #3c075388; }

/**blog**/
.blog {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 6fr; }
  .blog .menu {
    width: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; }
    .blog .menu .busqueda input {
      width: 100%;
      height: 40px;
      border: 2px solid #b42b5288;
      border-radius: 20px;
      margin-top: 25px;
      background-color: #FEECE2; }
    .blog .menu .busqueda p {
      color: #b42b5288;
      margin-right: 15px;
      font-size: 15px; }
    .blog .menu .categorias {
      text-align: center;
      padding: 20px;
      width: 100%;
      background-color: #3c075388;
      border-radius: 10px;
      margin-right: 15px; }
      .blog .menu .categorias h2 {
        font-family: "Marko One", serif;
        color: #FEECE2;
        font-size: 24px;
        border-bottom: 1px solid #3C0753;
        padding-bottom: 10px;
        margin: 5px; }
      .blog .menu .categorias ul li {
        color: #feece288;
        border-bottom: 1px solid #3C0753;
        padding-bottom: 10px;
        margin: 5px;
        font-size: 12px; }
  .blog .articulos {
    width: 100%;
    display: grid;
    grid-template-areas: "articuloUno articuloDos" "articuloTres articuloCuatro";
    justify-content: flex-start; }
    .blog .articulos .articuloUno {
      width: 70%;
      background-color: #ff66663f;
      border-radius: 12px;
      margin-bottom: 20px;
      margin-top: 20px;
      grid-area: articuloUno;
      justify-self: center; }
      .blog .articulos .articuloUno img {
        padding: 20px;
        border-radius: 12px;
        width: 95%; }
      .blog .articulos .articuloUno h3 {
        color: #872341;
        font-size: 20px;
        margin: 10px;
        text-align: left; }
      .blog .articulos .articuloUno p {
        margin: 10px;
        color: #87234188;
        padding-bottom: 15px; }
      .blog .articulos .articuloUno button {
        width: 100%;
        background-color: #ff66663f;
        border: none;
        border-radius: 0px 0px 12px 12px;
        text-align: right;
        margin-top: 35px; }
        .blog .articulos .articuloUno button img {
          width: 80px;
          border: none; }
    .blog .articulos .articuloDos {
      width: 70%;
      background-color: #ff66663f;
      border-radius: 12px;
      margin-bottom: 20px;
      margin-top: 20px;
      grid-area: articuloDos;
      justify-self: center; }
      .blog .articulos .articuloDos img {
        padding: 20px;
        border-radius: 12px;
        width: 95%; }
      .blog .articulos .articuloDos h3 {
        color: #872341;
        font-size: 20px;
        margin: 10px;
        text-align: left; }
      .blog .articulos .articuloDos p {
        margin: 10px;
        color: #87234188;
        padding-bottom: 15px; }
      .blog .articulos .articuloDos button {
        width: 100%;
        background-color: #ff66663f;
        border: none;
        border-radius: 0px 0px 12px 12px;
        text-align: right; }
        .blog .articulos .articuloDos button img {
          width: 80px;
          border: none; }
    .blog .articulos .articuloTres {
      width: 70%;
      background-color: #b42b5288;
      border-radius: 12px;
      margin-bottom: 20px;
      margin-top: 20px;
      grid-area: articuloTres;
      justify-self: center; }
      .blog .articulos .articuloTres img {
        padding: 20px;
        border-radius: 12px;
        width: 95%; }
      .blog .articulos .articuloTres h3 {
        color: #3C0753;
        font-size: 20px;
        margin: 10px;
        text-align: left; }
      .blog .articulos .articuloTres p {
        margin: 10px;
        color: #3c075388;
        padding-bottom: 15px; }
      .blog .articulos .articuloTres button {
        width: 100%;
        background-color: #b42b5288;
        border: none;
        border-radius: 0px 0px 12px 12px;
        text-align: right; }
        .blog .articulos .articuloTres button img {
          width: 80px;
          border: none; }
    .blog .articulos .articuloCuatro {
      width: 70%;
      background-color: #b42b5288;
      border-radius: 12px;
      margin-bottom: 20px;
      margin-top: 20px;
      grid-area: articuloCuatro;
      justify-self: center; }
      .blog .articulos .articuloCuatro img {
        padding: 20px;
        border-radius: 12px;
        justify-self: center;
        width: 95%; }
      .blog .articulos .articuloCuatro h3 {
        color: #3C0753;
        font-size: 20px;
        margin: 10px;
        text-align: left; }
      .blog .articulos .articuloCuatro p {
        margin: 10px;
        color: #3c075388;
        padding-bottom: 15px; }
      .blog .articulos .articuloCuatro button {
        width: 100%;
        background-color: #b42b5288;
        border: none;
        border-radius: 0px 0px 12px 12px;
        text-align: right; }
        .blog .articulos .articuloCuatro button img {
          width: 80px;
          border: none; }

/**cursos**/
.detalleCursos {
  display: flex;
  justify-content: center; }
  .detalleCursos .automaquillaje {
    width: 38%;
    border: 2px solid #98217688;
    border-radius: 10px;
    margin: 30px; }
    .detalleCursos .automaquillaje .contenido img {
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 20px; }
    .detalleCursos .automaquillaje .contenido h3 {
      font-size: 24px;
      text-align: center;
      width: 55%;
      color: #3C0753;
      background-color: #98217688;
      margin-left: 200px;
      border-radius: 20px;
      border: 1px solid #3C0753;
      padding: 5px 10px; }
    .detalleCursos .automaquillaje .contenido p {
      color: #3c075388;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-top: 10px; }
    .detalleCursos .automaquillaje .calificaciones {
      margin-left: 20px;
      padding-bottom: 10px; }
      .detalleCursos .automaquillaje .calificaciones p {
        display: inline;
        color: #3c075388;
        padding-left: 20px;
        padding-bottom: 20px; }
    .detalleCursos .automaquillaje button {
      width: 100%;
      border: none;
      border-radius: 0px 0px 10px 10px;
      background-color: #98217688;
      height: 40px; }
      .detalleCursos .automaquillaje button a {
        color: #3C0753; }
  .detalleCursos .colorimetria {
    width: 38%;
    border: 2px solid #98217688;
    border-radius: 10px;
    margin: 30px; }
    .detalleCursos .colorimetria .contenido img {
      padding-left: 20px;
      padding-top: 20px;
      padding-right: 20px; }
    .detalleCursos .colorimetria .contenido h3 {
      font-size: 24px;
      text-align: center;
      width: 55%;
      color: #3C0753;
      background-color: #98217688;
      margin-left: 200px;
      border-radius: 20px;
      border: 1px solid #3C0753;
      padding: 5px 10px; }
    .detalleCursos .colorimetria .contenido p {
      color: #3c075388;
      padding-left: 20px;
      padding-bottom: 20px;
      padding-top: 10px; }
    .detalleCursos .colorimetria .calificaciones {
      margin-left: 20px;
      padding-bottom: 10px; }
      .detalleCursos .colorimetria .calificaciones p {
        display: inline;
        color: #3c075388;
        padding-left: 20px;
        padding-bottom: 20px; }
    .detalleCursos .colorimetria button {
      width: 100%;
      border: none;
      border-radius: 0px 0px 10px 10px;
      background-color: #98217688;
      height: 40px;
      color: #3C0753; }
      .detalleCursos .colorimetria button a {
        color: #3C0753; }

.formularioCursos {
  margin: 10px 50px 10px 60px;
  background-color: #ff66663f;
  width: 85%;
  border-radius: 10px;
  justify-content: center; }
  .formularioCursos h3 {
    font-size: 20px;
    color: #B42B51;
    padding: 30px;
    display: flex;
    justify-content: center; }
  .formularioCursos .datos input {
    width: 90%;
    margin-left: 30px;
    margin-right: 30px;
    border: none;
    border-bottom: 1px solid #b42b5288;
    background-color: #b42b5200; }
  .formularioCursos .datos p {
    color: #b42b5288;
    margin-left: 30px;
    margin-top: 10px; }
  .formularioCursos .mensaje input {
    width: 90%;
    height: 150px;
    margin: 10px 30px;
    border: 1px solid #b42b5288;
    background-color: #feece2d6;
    border-radius: 10px; }
  .formularioCursos .mensaje p {
    color: #b42b5288;
    margin-left: 30px;
    margin-top: 10px; }
  .formularioCursos button {
    width: 10%;
    margin: 20px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px #ff666696;
    padding: 5px 0px;
    background-color: #FEECE2; }
    .formularioCursos button a {
      color: #B42B51; }

/**tutoriales**/
.tutoriales {
  margin: 50px 0px; }
  .tutoriales .seccionMaquillaje {
    margin: 15px;
    display: grid;
    grid-template-areas: "headM headM headM" "video1 video2 video3";
    width: 100%;
    grid-template-columns: repeat(3, 1fr); }
    .tutoriales .seccionMaquillaje h2 {
      color: #872341;
      font-family: "Marko One", serif;
      padding: 15px;
      grid-area: headM; }
    .tutoriales .seccionMaquillaje .video1 {
      grid-area: video1; }
    .tutoriales .seccionMaquillaje .video2 {
      grid-area: video2; }
    .tutoriales .seccionMaquillaje .video3 {
      grid-area: video3; }
    .tutoriales .seccionMaquillaje iframe {
      border-radius: 10px;
      border: 3px solid #FF6666; }
  .tutoriales .seccionPeinado {
    margin: 15px;
    display: grid;
    grid-template-areas: "headP headP headP" "peinado1 peinado2 peinado3";
    width: 100%;
    grid-template-columns: repeat(3, 1fr); }
    .tutoriales .seccionPeinado h2 {
      color: #3C0753;
      font-family: "Marko One", serif;
      padding: 15px;
      grid-area: headP; }
    .tutoriales .seccionPeinado .peinado1 {
      grid-area: peinado1; }
    .tutoriales .seccionPeinado .peinado2 {
      grid-area: peinado2; }
    .tutoriales .seccionPeinado .peinado3 {
      grid-area: peinado3; }
    .tutoriales .seccionPeinado iframe {
      border-radius: 10px;
      border: 3px solid #982176; }

/** media queries **/
/*1024px*/
@media (max-width: 1024px) {
  /**estilos generales**/
  p {
    font-size: 12px; }
  .redesSociales h4 {
    font-size: 16px;
    margin: 0px 15px; }
  /**index**/
  .home .fondo h1 {
    font-size: 45px;
    width: 300px;
    bottom: 200px;
    left: 75px; }
  .home .fondo p {
    font-size: 18px;
    width: 300px;
    bottom: 200px;
    left: 75px; }
  .home .presentacion img {
    margin: 20px; }
  .home .galeria img {
    width: 28%; }
  /**quien soy**/
  .seccionUno .descripcion h2 {
    font-size: 26px; }
  .seccionUno .trabajos img {
    height: 200px; }
  .seccionUno .trabajos h2 {
    font-size: 26px; }
  /**blog**/
  .articuloUno button {
    margin-top: 40px; }
  .articuloDos button {
    margin-top: 35px; }
  .articuloTres button {
    margin-top: 35px; }
  .articuloCuatro button {
    margin-top: 47px; }
  .categorias h2 {
    font-size: 18px; } }

/**768px**/
@media (max-width: 768px) {
  /**estilos generales**/
  nav .encabezado h1 {
    font-size: 25px; }
  nav .encabezado li {
    padding: 0; }
    nav .encabezado li a {
      font-size: 12px; }
  .redesSociales h4 {
    font-size: 14px;
    margin: 0px 15px; }
  .redesSociales a {
    margin: 0px 15px; }
  /**index**/
  .home .fondo h1 {
    font-size: 35px;
    width: 250px;
    bottom: 150px;
    left: 50px; }
  .home .fondo p {
    font-size: 14px;
    width: 250px;
    bottom: 150px;
    left: 50px; }
  .home .presentacion .bio h2 {
    font-size: 20px; }
  .home .presentacion .bio p {
    font-size: 10px; }
  /**quien soy**/
  .seccionUno .descripcion h2 {
    font-size: 22px; }
  .seccionUno .descripcion ul li {
    font-size: 12px; }
  .seccionUno .trabajos h2 {
    font-size: 22px; }
  .seccionUno .trabajos img {
    height: 140px; }
  /**blog**/
  .articuloUno h3 {
    font-size: 16px; }
  .articuloUno button img {
    width: 65px; }
  .articuloDos h3 {
    font-size: 16px; }
  .articuloDos button img {
    width: 65px; }
  .articuloTres h3 {
    font-size: 16px; }
  .articuloTres button img {
    width: 65px; }
  .articuloCuatro h3 {
    font-size: 16px; }
  .articuloCuatro button img {
    width: 65px; }
  .categorias h2 {
    font-size: 16px; } }

/**425px**/
/**puse el max-width en 426 porque si lo ponía en 425 no me lo tomaba en esta medida sino en un pixel menos**/
@media (max-width: 426px) {
  /**estilos generales**/
  p {
    font-size: 8px; }
  header nav .encabezado {
    padding: 10px;
    flex-direction: column; }
    header nav .encabezado h1 {
      display: none; }
    header nav .encabezado li {
      padding: 0; }
      header nav .encabezado li a {
        font-size: 8px; }
  .redesSociales h4 {
    display: none; }
  /**index**/
  .home .fondo h1 {
    font-size: 25px;
    width: 170px;
    bottom: 100px;
    left: 30px; }
  .home .fondo p {
    font-size: 12px;
    width: 170px;
    bottom: 100px;
    left: 30px; }
  .home .presentacion {
    flex-direction: column; }
    .home .presentacion img {
      width: 50%; }
    .home .presentacion .bio {
      width: 90%; }
      .home .presentacion .bio h2 {
        font-size: 16px; }
      .home .presentacion .bio p {
        font-size: 8px; }
  .galeria {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .galeria img {
      width: 80%;
      justify-self: center; }
  /**quien soy**/
  .seccionUno {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding: 15px; }
    .seccionUno .descripcion {
      width: 100%; }
      .seccionUno .descripcion h2 {
        font-size: 18px; }
      .seccionUno .descripcion ul li {
        font-size: 10px; }
    .seccionUno .trabajos {
      width: 100%; }
      .seccionUno .trabajos h2 {
        font-size: 18px; }
      .seccionUno .trabajos img {
        height: 110px; }
  .seccionDos h2 {
    font-size: 18px; }
  .seccionDos .certificaciones {
    justify-content: space-around; }
    .seccionDos .certificaciones .maquillajeSocial {
      width: 20%; }
    .seccionDos .certificaciones .maquillajeArtistico {
      width: 20%; }
    .seccionDos .certificaciones .maquillajeEditorial {
      width: 20%; }
    .seccionDos .certificaciones .peinado {
      width: 20%; }
  /**blog**/
  .categorias h2 {
    font-size: 16px; } }
