/**blog**/
.blog{
    @include flex (column, center, center, 20px);
    justify-content: center;
    width: 100%;
    .menu{
        width: 85%;
        margin: 20px;
        .busqueda{
            input{
            color: map-get($colores, letras);
            width: 90%;
            height: 40px;
            border: 2px solid map-get($colores, letras);
            border-radius: 20px;
            margin-top: 25px;
            background-color: map-get($colores, fondo);
            text-align: center;
            font-family: map-get($fuentes, general);
            }
            p{
                color: map-get($colores, letras);
                margin-right: 15px;
                font-size: 15px;
            }
        }
    }
    .articulos{
        width: 90%;
        @include grid (repeat(2, 1fr), repeat(2, 1fr), center, center);
        padding: 20px;
        gap: 15px;
        .articulosSuperiores{
            width: 90%;
            height: 100%;
            background-color: #6c3156;
            margin-bottom: 20px;
            margin-top: 20px;
            padding: 10px;
            justify-content: center;
            img{
                padding: 20px;
                width: 95%;
                height: 250px;
                object-fit: cover;
            }
            h3{
                color: map-get($colores, fondo);
                font-size: 20px;
                margin: 10px;
                text-align: left;
                height: 10%;
            }
            p{
                font-size: 14px;
                margin: 15px;
                color: map-get($colores, letras);
                padding: 15px 0px;
                text-align: justify;
                height: 20%;
            }
            .etiquetas{
                height: 5%;
            }
            button{
                width: 50%;
                background-color: #6c315688;
                box-shadow: 3px 3px 3px 3px #07040b88;
                border: none;
                border-radius: 5px;
                text-align: center;
                margin: 15px;
                height: 50px;
                font-family: map-get($fuentes, general);
                font-size: 15px;
                color: map-get($colores, fondo);
                &:hover{
                    background-color: #442037;
                }
            }
        }
        .articulosInferiores{
            @extend .articulosSuperiores;
            background-color: #442037;
            img{
                padding: 20px;
                width: 95%;
            }
            h3{
                @extend h3;
            }
            p{
                @extend p;
            }
            button{
                @extend button;
                background-color: #442037;
                &:hover{
                    background-color: #07040b88;
                }
            }
        }
    }
}