/**galeria**/
.contenedorGaleria{
    @include grid (repeat (6,1fr), repeat (24,1fr), center, center, 
    "imagen-galeria1 imagen-galeria2 imagen-galeria3 imagen-galeria4 imagen-galeria4 imagen-galeria4"
    "imagen-galeria5 imagen-galeria5 imagen-galeria5 imagen-galeria4 imagen-galeria4 imagen-galeria4"
    "imagen-galeria5 imagen-galeria5 imagen-galeria5 imagen-galeria6 imagen-galeria6 imagen-galeria6"
    "imagen-galeria7 imagen-galeria7 imagen-galeria8 imagen-galeria6 imagen-galeria6 imagen-galeria6"
    "imagen-galeria9 imagen-galeria9 imagen-galeria9 imagen-galeria6 imagen-galeria6 imagen-galeria6"
    "imagen-galeria9 imagen-galeria9 imagen-galeria9 imagen-galeria10 imagen-galeria10 imagen-galeria10"
    "imagen-galeria9 imagen-galeria9 imagen-galeria9 imagen-galeria10 imagen-galeria10 imagen-galeria10"
    "imagen-galeria11 imagen-galeria11 imagen-galeria11 imagen-galeria10 imagen-galeria10 imagen-galeria10"
    "imagen-galeria11 imagen-galeria11 imagen-galeria11 imagen-galeria12 imagen-galeria13 imagen-galeria13"
    "imagen-galeria14 imagen-galeria14 imagen-galeria14 imagen-galeria12 imagen-galeria13 imagen-galeria13"
    "imagen-galeria14 imagen-galeria14 imagen-galeria14 imagen-galeria15 imagen-galeria15 imagen-galeria15"
    "imagen-galeria16 imagen-galeria16 imagen-galeria16 imagen-galeria15 imagen-galeria15 imagen-galeria15"
    "imagen-galeria16 imagen-galeria16 imagen-galeria16 imagen-galeria15 imagen-galeria15 imagen-galeria15"
    "imagen-galeria17 imagen-galeria17 imagen-galeria18 imagen-galeria18 imagen-galeria19 imagen-galeria19"
    "imagen-galeria17 imagen-galeria17 imagen-galeria18 imagen-galeria18 imagen-galeria19 imagen-galeria19"
    "imagen-galeria20 imagen-galeria20 imagen-galeria21 imagen-galeria22 imagen-galeria23 imagen-galeria23"
    "imagen-galeria20 imagen-galeria20 imagen-galeria21 imagen-galeria22 imagen-galeria23 imagen-galeria23"
    "imagen-galeria24 imagen-galeria24 imagen-galeria24 imagen-galeria24 imagen-galeria24 imagen-galeria24"
    "imagen-galeria24 imagen-galeria24 imagen-galeria24 imagen-galeria24 imagen-galeria24 imagen-galeria24"
    "imagen-galeria25 imagen-galeria25 imagen-galeria25 imagen-galeria26 imagen-galeria26 imagen-galeria26"
    "imagen-galeria25 imagen-galeria25 imagen-galeria25 imagen-galeria26 imagen-galeria26 imagen-galeria26"
    "imagen-galeria25 imagen-galeria25 imagen-galeria25 imagen-galeria27 imagen-galeria27 imagen-galeria27"
    "imagen-galeria28 imagen-galeria29 imagen-galeria29 imagen-galeria27 imagen-galeria27 imagen-galeria27"
    "imagen-galeria28 imagen-galeria29 imagen-galeria29 imagen-galeria27 imagen-galeria27 imagen-galeria27"
    "imagen-galeria30 imagen-galeria29 imagen-galeria29 imagen-galeria27 imagen-galeria27 imagen-galeria27");
    width: 80%;
    .imagen-galeria1{
        grid-area: imagen-galeria1;
    }
    .imagen-galeria2{
        grid-area: imagen-galeria2;
    }
    .imagen-galeria3{
        grid-area: imagen-galeria3;
    }
    .imagen-galeria4{
        grid-area: imagen-galeria4;
    }
    .imagen-galeria5{
        grid-area: imagen-galeria5;
    }
    .imagen-galeria6{
        grid-area: imagen-galeria6;
    }
    .imagen-galeria7{
        grid-area: imagen-galeria7;
    }
    .imagen-galeria8{
        grid-area: imagen-galeria8;
    }
    .imagen-galeria9{
        grid-area: imagen-galeria9;
    }
    .imagen-galeria10{
        grid-area: imagen-galeria10;
    }
    .imagen-galeria11{
        grid-area: imagen-galeria11;
    }
    .imagen-galeria12{
        grid-area: imagen-galeria12;
    }
    .imagen-galeria13{
        grid-area: imagen-galeria13;
    }
    .imagen-galeria14{
        grid-area: imagen-galeria14;
    }
    .imagen-galeria15{
        grid-area: imagen-galeria15;
    }
    .imagen-galeria16{
        grid-area: imagen-galeria16;
    }
    .imagen-galeria17{
        grid-area: imagen-galeria17;
    }
    .imagen-galeria18{
        grid-area: imagen-galeria18;
    }
    .imagen-galeria19{
        grid-area: imagen-galeria19;
    }
    .imagen-galeria20{
        grid-area: imagen-galeria20;
    }
    .imagen-galeria21{
        grid-area: imagen-galeria21;
    }
    .imagen-galeria22{
        grid-area: imagen-galeria22;
    }
    .imagen-galeria23{
        grid-area: imagen-galeria23;
    }
    .imagen-galeria23{
        grid-area: imagen-galeria23;
    }
    .imagen-galeria24{
        grid-area: imagen-galeria24;
    }
    .imagen-galeria25{
        grid-area: imagen-galeria25;
    }
    .imagen-galeria26{
        grid-area: imagen-galeria26;
    }
    .imagen-galeria27{
        grid-area: imagen-galeria27;
    }
    .imagen-galeria28{
        grid-area: imagen-galeria28;
    }
    .imagen-galeria29{
        grid-area: imagen-galeria29;
    }
    .imagen-galeria30{
        grid-area: imagen-galeria30;
    }
}