/** estilos generales **/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: map-get($colores, fondo);
    font-family: map-get($fuentes, general);
}
h1{
    font-size: 35px;
    font-family: map-get($fuentes, destacada);
    color: #FEECE2;
    font-style: normal;
}
h4{
    display: inline;
    font-size: 20px;
}
a{
    font-size: 16px;
    text-decoration: none;
    font-family: map-get($fuentes, general);
    color:  #FEECE2;
}
p{
    font-size: 14px;
}
li{
    font-size: 16px;
    padding: 10px;
    list-style: none;
}
/** estilos del header **/
header{
    background-image: linear-gradient(to left, black, #07040b, #36192f, #511a38, #6c3156);
    width: 100%;
    nav{
        .encabezado{
            color: #FEECE2;
            padding: 35px;
            text-align: center;
            @include flex (row, space-evenly, center, none);
            ul{
                @include flex (row, space-evenly, center, none);
                li{
                    &:hover{
                        color: map-get($colores, hover);
                    }
                    a{
                        color: #FEECE2;
                        &:hover{
                            color: map-get($colores, hover);
                        }
                    }
                }
            }
        }
    }
}

/** estilos del footer **/
footer{
    background-color: map-get($colores, fondo);
    color: #FEECE2;
    padding: 15px;
    .redesSociales{ 
        h4{
            margin: 0px 20px;
        }
        a{
            margin: 0px 20px;
        }
    }
}