/**quien soy**/
.seccionUno{
    background-image: linear-gradient(to left, black, #07040b, #36192f, #511a38, #6c3156);
    @include flex (row, center, top, 25px);
    width: 100%;
    .descripcion{
        width: 35%;
        text-align: right;
        margin-left: 25px;
        margin-top: 10px;
        h2{
            font-family: map-get($fuentes, general);
            color: map-get($colores, titulos);
            font-size: 30px;
            text-align: left;
            padding: 5px;
        }
        ul{
            color: map-get($colores, letras);
            padding-left: 10px;
            text-align: left;
            margin-left: 10px;
            li{
                padding: 8px;
                font-size: 14px;
                list-style-type: disc;
                a{
                    color: map-get($colores, letras);
                    font-size: 14px;
                    &:hover{
                        color: map-get($colores, titulos);
                    }
                }
            }
        }
    }
    .trabajos{
        @include grid (repeat(3, 250px), auto repeat(3, 250px), center, center);
        gap: 15px;
        width: 65%;
        text-align: left;
        margin-top: 12px;
        padding-right: 20px;
        padding-bottom: 15px;
        h2{
            font-family: map-get($fuentes, general);
            color: map-get($colores, titulos);
            font-size: 30px;
            text-align: left;
            grid-column-start: span 3;
        }
        img{
            width: 100%;
            object-fit: cover;
            transition: 0.3s ease all;
            &:hover{
                transform: scale(1.2);
            }
        }
    }
}

