/**880px**/
@media (max-width: 880px){
    /**estilos generales**/
    nav{
        .encabezado{
            h1{
                font-size: 25px;
            }
            li{
                padding: 0;
                a{
                    font-size: 12px;
                }
            } 
        }  
    }
    .redesSociales{
        h4{
        font-size: 14px;
        margin: 0px 15px
        }
        a{
            margin: 0px 15px;
        }
    }
    /**index**/
    .home{
        .fondo{
            h1{
                font-size: 35px;
                width: 250px;
                bottom: 150px;
                left: 50px;
            }
            p{
                font-size: 14px;
                width: 250px;
                bottom: 150px;
                left: 50px;  
            }
        }    
        .presentacion{
            gap: 25px;
            .bio{
                h2{
                font-size: 20px;
                }
                p{
                font-size: 12px;
                }
            }
        }
        .galeria{
            grid-template-rows: auto 200px;
            border-top: 10px solid #07040b;
            h2{
                font-size: 35px;
            }
        }
    }    
    /**quien soy**/
    .seccionUno{
        .descripcion{
            h2{
                font-size: 22px;
            }
            ul li{
                font-size: 12px;
                a{
                    font-size: 12px;
                }
            }
        }
        .trabajos{
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto repeat(3,126px);
            h2{
                font-size: 22px;
            }
        }
    }
}
/*770px*/
@media(max-width: 770px){
    /*index*/
    .home{
        .presentacion .bio{
            h2{
                font-size: 18px;
            }
            p{
                font-size: 11px;
            }
        }
        .galeria{
            grid-template-rows: auto 180px;
        }    
    }
    /*quien soy*/
    .seccionUno{
        .trabajos{
            grid-template-rows: auto repeat(3,105px);
        }
    }
    /*blog*/
    .blog{
        .articulos .articulosSuperiores{
            h3{
                font-size: 16px;
            }
            p{
                font-size: 11px;
            }
            button{
                height: 40px;
                font-size: 12px;
            }
        }
    }
}