/**425px**/
/**puse el max-width en 426 porque si lo ponía en 425 no me lo tomaba en esta medida sino en un pixel menos**/
@media (max-width: 426px){
    /**estilos generales**/
    /*p{
        font-size: 8px;
    }*/
    header nav{
        .encabezado{
            padding: 10px;
            flex-direction: column;
            h1{
                display: none;
            }
            li{
                padding: 0;
                a{
                    font-size: 8px;
                }
            }
        }
    }
    .redesSociales h4{
        display: none;
    }
    /**index**/
    .home{
        .fondo{
            h1{
                font-size: 25px;
                width: 170px;
                bottom: 100px;
                left: 30px;
            }
            p{
                font-size: 12px;
                width: 170px;
                bottom: 100px;
                left: 30px;
            }
        }    
        .presentacion{
            flex-direction: column;
            img{
                width: 70%;
            }
            .bio{
                width: 90%;
                h2{
                    font-size: 16px;
                }
                p{
                    font-size: 8px;
                }
            }
        }
    }
    .galeria{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            justify-self: center;
        }
    }
    /**quien soy**/
    .seccionUno{
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding: 15px;
        .descripcion{
            width: 100%;
            h2{
                font-size: 18px;
            }
            ul li{
                font-size: 10px;
               }
        }
        .trabajos{
            width: 100%;
            h2{
                font-size: 18px;
            }
            img{
                height: 110px;
            }
        }
    } 
    /**blog**/
    .blog{
        .menu .busqueda input{
            width: 320px;
            height: 28px;
        }
        .articulos{
            grid-template-areas: 
            "articuloUno"
            "articuloDos"
            "articuloTres"
            "articuloCuatro";
            width: 90%;
            align-items: center;
            justify-content: center;
        }
    }
}