/*1100px*/
@media (max-width: 1100px){
    /**estilos generales**/
    p{
        font-size: 12px;
    }
    .redesSociales h4{
        font-size: 16px;
        margin: 0px 15px
    }
    /**index**/
    .home{
        .fondo{
            h1{
                font-size: 45px;
                width: 300px;
                bottom: 200px;
                left: 75px;
            }
            p{
                font-size: 16px;
                width: 300px;
                bottom: 200px;
                left: 75px;
            }
        }
       .presentacion{
            justify-content: center;
            .bio p{
                font-size: 16px;
            }
            img{
                margin: 20px;
            }
        }
        .galeria{
            grid-template-rows: auto 250px;
        }
    }
    /**quien soy**/
    .seccionUno{
        .descripcion h2{
            font-size: 26px;
        }
        .trabajos{
            grid-template-columns: repeat(3,200px);
            grid-template-rows: auto repeat(3,200px);
            h2{
                font-size: 26px;
            }
        }
    }
    /**blog**/
    .blog {
        .menu{
            .busqueda input{
                height: 36px;
            }
        }
        .articulos .articulosSuperiores{
            width: 80%;
            img{
                height: 200px;
            }
            h3{
                font-size: 18px;
            }
            p{
                font-size: 12px;
            }
            button{
                height: 35px;
                font-size: 13px;
            }
        }
    }
    /*cursos*/
    .cursos{
        .detalleCursos .infoCursos{
            .contenido{
                h3{
                    font-size: 20px;
                }
            }
            button a{
                font-size: 14px;
            }
        }
        .formularioCursos{
            h3{
                font-size: 20px;
            }
            button a{
                font-size: 14px;
            }
        }
    }
    /*galeria*/
    .contenedorGaleria{
        grid-auto-rows: 200px;
        padding: 30px;
        gap: 15px;
    }
}
/*960px*/
@media (max-width: 960px){
    /*index*/
    .home .presentacion{
        .bio{
            h2{
                font-size: 25px;
            }
            p{
                font-size: 14px;
            }
        }
    }
    /*quien soy*/
    .seccionUno{
        gap: 30px;
        align-items: top;
        .descripcion{
            width: 45%;
        }
        .trabajos{
            margin: 15px;
            width: 55%;
            grid-template-columns: repeat(3,160px);
            grid-template-rows: auto repeat(3,160px);
        }
    }
    /*blog*/
    .blog{
        .articulos .articulosSuperiores{
            width: 100%;
            gap: 30px;
            img{
                width: 100%;
                padding: 10px;
            }
        }
    }
}