/*1024px*/
@media (max-width: 1024px){
    /**estilos generales**/
    p{
        font-size: 12px;
    }
    .redesSociales h4{
        font-size: 16px;
        margin: 0px 15px
    }
    /**index**/
    .home{
        .fondo{
            h1{
                font-size: 45px;
                width: 300px;
                bottom: 200px;
                left: 75px;
            }
            p{
                font-size: 18px;
                width: 300px;
                bottom: 200px;
                left: 75px;
            }
        }
       .presentacion img{
            margin: 20px;
        }
        .galeria img{
            width: 28%;
        }
    }
    /**quien soy**/
    .seccionUno{
        .descripcion h2{
            font-size: 26px;
        }
        .trabajos{
            img{
                height: 200px
            }
            h2{
                font-size: 26px;
            }
        }
    }
    /**blog**/
    .blog {
        .menu{
            .busqueda input{
                height: 36px;
            }
            .categorias{
                padding: 15px;
                h2{
                    font-size: 18px;
                }
                ul li{
                    font-size: 10px;
                }
            }    
        }
        .articulos .articuloUno{
            img{
                height: 200px;
            }
            h3{
                font-size: 18px;
            }
            button{
                height: 35px;
                font-size: 13px;
            }
        }
    }
}