/**600px**/
@media (max-width: 600px){
/**estilos generales**/
    header nav{
        .encabezado{
            padding: 10px;
            flex-direction: column;
            h1{
                display: none;
            }
            li{
                padding: 0;
                a{
                    font-size: 10px;
                }
            }
        }
    }
    .redesSociales h4{
        display: none;
    }
/**index**/
    .home{
        .fondo{
            h1{
                font-size: 25px;
                width: 170px;
                bottom: 100px;
                left: 30px;
            }
            p{
                font-size: 12px;
                width: 170px;
                bottom: 100px;
                left: 30px;
            }
        }    
        .presentacion{
            flex-direction: column;
            align-items: center;
            img{
                display: none;
                width: 50%;
            }
            .bio{
                width: 90%;
                padding: 10px;
                margin-right:20px;
                justify-content: center;
            }
        }
        .galeria{
            grid-template-columns: 300px;
            grid-template-rows: auto repeat(3, 300px);
            padding: 30px;
            h2{
                font-size: 28px;
                grid-column-start: span 1;
            }
        }
    }
/**quien soy**/
    .seccionUno{
        @include flex (column, center, center, none);
        width: 100%;
        padding: 25px 10px 10px 10px;
        .descripcion{
            width: 75%;
            justify-content: center;
            h2{
                font-size: 18px;
                text-align: center;
            }
            ul{
                padding:0;
                margin:0;
                list-style: none;
                text-align: center;
                li{
                    font-size: 10px;
                    list-style: none;
                    a{
                        font-size: 10px;
                    }
                }
            }
        }
        .trabajos{
            grid-template-rows: auto repeat(3,120px);
            width: 75%;
            justify-content: center;
            padding: 0;
            text-align: center;
            h2{
                font-size: 18px;
                text-align: center;
            }
        }
    }
/**blog**/
    .blog{
        .menu .busqueda input{
           height: 26px;
           width: 85%;
        }
        .articulos{
            @include grid (1fr, repeat(4, 1fr), center, center);
            width: 85%;
            .articulosSuperiores{
                img{
                    object-fit: cover;
                }
                h3{
                    height: 8%;
                }
                p{
                    height: 20%;
                    font-size: 12px;
                }
            }
        } 
    }
    /*cursos*/
    .cursos{
        .detalleCursos .infoCursos .contenido h3{
            font-size: 16px;
        }
        .formularioCursos{
            h3{
                font-size: 16px;
            }
            button{
                width: 20%;
            }
        }
    }
    /*galeria*/
    .contenedorGaleria{
        grid-auto-rows: 130px;
    }
}

/*425px*/
@media (max-width: 425px){
/*index*/
    .home .presentacion .bio{
        h2{
            font-size: 16px;
        }
        p{
            font-size: 10px;
        }
    }
/**quien soy**/
    .seccionUno{
        .trabajos{
            gap: 5px;
            grid-template-rows: auto repeat(3,100px);

        }
    }
/*blog*/
    .blog{
        .menu{
            width: 90%;        
            .busqueda .input{
                height: 22px;
                width: 90%;
            }
        }
        .articulos{
            width: 100%;
       }
    }
    /*cursos*/
    .cursos .formularioCursos{
        h3{
            font-size: 14px;
        }
        .datos input{
            width: 80%;
        }
        .mensaje input{
            width: 80%;
        }
    }
    /*galeria*/
    .contenedorGaleria{
        grid-template-columns: repeat(3, 100px);
        grid-auto-rows: 100px;
        .galeria_item:nth-child(4){
            grid-row-start: span 3;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(5){
            grid-row-start: span 2;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(6){
            grid-column-start: 1;
        }
        .galeria_item:nth-child(7){
            grid-column-start: 2;
        }
        .galeria_item:nth-child(8){
            grid-column-start: 3;
            grid-row-start: span 1;
        }
        .galeria_item:nth-child(9){
            grid-row-start: span 2;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(10){
            grid-column-start: 1;
            grid-row-start: span 1;
        }
        .galeria_item:nth-child(11){
            grid-column-start: 2;
        }
        .galeria_item:nth-child(12){
            grid-column-start: 3;
        }
        .galeria_item:nth-child(13){
            grid-row-start: span 3;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(14){
            grid-column-start: span 3;
            grid-row-start: span 2;
        }
        .galeria_item:nth-child(15){
            grid-row-start: span 4;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(16){
            grid-row-start: span 3;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(17){
            grid-row-start: span 4;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(21){
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(22){
            grid-row-start: span 2;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(23){
            grid-row-start: span 2;
            grid-column-start: 1;
        }
        .galeria_item:nth-child(24){
            grid-row-start: span 2;
            grid-column-start: span 2;
        }
        .galeria_item:nth-child(25){
            grid-row-start: span 2;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(26){
            grid-row-start: span 4;
            grid-column-start: span 3;
        }
        .galeria_item:nth-child(27){
            grid-column-start: span 3;
            grid-row-start: span 2;
        }
        .galeria_item:nth-child(28){
            grid-column-start: span 3;
            grid-row-start: span 2;
        }
        .galeria_item:nth-child(29){
            grid-column-start: span 3;
            grid-row-start: span 2;
        }
        .galeria_item:nth-child(30){
            grid-column-start: span 3;
            grid-row-start: span 4;
        }
    }
}